section {
    padding: 20px;
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px; /* Fixed height */
    width: 100vw; /* Ensure it fills the entire width of the viewport */
    background-image: url('./images/backgroundImage4.png');
    background-size: cover; /* Cover the area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    margin-bottom: 20px; /* Space below this section */
    position: relative; /* Important for positioning the navbar */
}

.top--header {
    margin-top: auto;
    color: white;
    font-size: 80px;
}

.top--text {
    margin-top: -50px;
    color: white;
    margin-bottom: 200px;
    font-size: 20px;
    align-content: center;
    text-align: center;

}
