* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 70px; 
    display: flex;
    align-items: center; /* Center items vertically */
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; 
    transition: background-color 0.3s; 
    background-color: rgba(255, 255, 255, 0); 
    padding: 0 200px; 
    justify-content: space-between; /* Distribute space */
}


nav.scrolled {
    background-color: #3b3b3b; /* Background color when scrolled */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Shadow when scrolled */
}

.nav--logo {
    height: 40px; /* Adjust this to fit within the navbar */
    width: auto; /* Maintain aspect ratio */
    margin-right: 1rem; /* Space between logo and other navbar items */
}
.credit {
    font-size: 1rem; /* Adjusted font size */
    font-weight: 600;
    color: white;
    margin-right: 10px; /* Add space between the text and the button */
}

@media (max-width: 600px) { /* Adjust the breakpoint as needed */
    nav {
        padding: 0 50px; /* Reduce padding to avoid overflowing */
    }
}

.try-button {
    background-color: transparent; /* Change background color if needed */
    color: white; /* Change text color if needed */
    text-decoration: none; /* Remove underline */
    padding: 5px 10px; /* Add padding for button appearance */
    border: 1px solid white; /* Optional: Add border to make it look like a button */
    border-radius: 4px; /* Optional: Rounded corners */
    margin-left: 10px; /* Space between credit and button */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.try-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Optional: Background on hover */
}